@import "../_style/app.theme";

.content {
  text-align: center;
  padding-top: 0;
  background-color: #F9F9F9;
  h4 {
    margin-bottom: -.5rem;
    font-size: 2rem;
  }
  .contact {
    margin-top: 2rem;
    background-color: darken($footer-bg-color, 5%);
    padding: 1rem;
    font-size: 1.5rem;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.card {
    margin: auto;
    border: solid #d9d9d9;
    max-height: 450px;
    .card-image{
      height: 150px;
      //position: absolute;
      //top: 10px;
      //left: 10px;
      //right: 10px;      
      img{
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
      }
    }
    
    .card-content{
        text-align: center;        
        height: 160px;
        
        .card-title {
          font-size: 18px;           
        }
    }
    
}
